# Specifications - Database
Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 & 2 of the project and wants you to create a MySQL database for them.

Specifically, they want the data from the following files included in your database:

**Title Basics**
- Movie ID (tconst)
- Primary Title
- Start Year
- Runtime (in Minutes)
- Genres

**Title Ratings**
- Movie ID (tconst)
- Average Movie Rating
- Number of Votes

**The TMDB API Results (multiple files)**
- Movie ID
- Revenue
- Budget
- Certification (MPAA Rating)

You should normalize the tables as best you can before adding them to your new database.

- Note: an important exception to their request is that they would like you to keep all of the data from the TMDB API in 1 table together (even though it will not be perfectly normalized).
- You only need to keep the imdb_id, revenue, budget, and certification columns

Required Transformation Steps for Title Basics:
Normalize Genre:

Convert the single string of genres from title basics into 2 new tables.
title_genres: with the columns:

tconst
genre_id
genres:

genre_id
genre_name
Discard unnecessary information:

For the title basics table, drop the following columns:
"original_title" (we will use the primary title column instead)
"isAdult" ("Adult" will show up in the genres so this is redundant information).
"titleType" (every row will be a movie).
"genres" and other variants of genre (genre is now represented in the 2 new tables described above.
Do not include the title_akas table in your SQL database.
You have already filtered out the desired movies using this table, and the remaining data is mostly nulls and not of interest to the stakeholder.
MySQL Database Requirements
Use sqlalchemy with Pandas to execute your SQL queries inside your notebook.

Create a new database on your MySQL server and call it "movies."

Make sure to have the following tables in your "movies" database:

title_basics
title_ratings
title_genres
genres
tmdb_data
Make sure to set a Primary Key for each table that isn't a joiner table (e.g., title_genres is a joiner table).

After creating each table, show the first 5 rows of that table using a SQL query.

Make sure to run the "SHOW TABLES" SQL query at the end of your notebook to show that all required tables have been created.